
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
  font: 14px Helvetica, Arial;
  background: black;
  color: lime;

  }

#header {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  list-style-type: none;
  top: 0; /* Position the navbar at the top of the page */
  height: 80px;
  width: 100%; /* Full width */
  background: black;
  border-style: solid;
  border-width: 20px;
  border-color: black;

}
#header li{
  float: left;
  font: 25px monospace;
  color: lime;
}

#messages {
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0;

  width: 74%;
  height: 100%;
  }
#messages li {
  padding: 8px 10px;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 20px;
  border-left-color: black;
  border-left-style: solid;
  border-left-width: 20px;
}
#messages li:nth-child(odd) {
  background: #333333;
}
#messages li:nth-child(even) {
  background: #1a1a1a;
}
#messages {
  margin-bottom: 120px;
  margin-top: 80px;
}

#users {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: darkgrey;
  padding: 3px;
  position: fixed;
  border-style: solid;
  border-width: 20px;
  border-color: black;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 25%;

}
#users li {
  color: black;
  padding: 5px 10px;
  border-right-color: darkgrey;
  border-right-style: solid;
  border-right-width: 4px;
  border-left-color: darkgrey;
  border-left-style: solid;
  border-left-width: 4px;
}
#users {
  margin-top: 80px;
}

.inputText {
  background: darkgrey;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 74%;
  border-style: solid;
  border-width: 20px;
  border-color: black;
  height: 120px;
  }

.inputText input{
  border: 2;
  padding: 10px;
  width: 80%;
  margin-right: .5%;
  }
.inputText button {
  font-size: 20px;
  color: lime;
  width: 19.5%;
  background: #1a1a1a;
  padding: 10px;
  }

@media only screen and (max-width: 725px) {

   body {
     font: 9px Helvetica, Arial;
   }
   .inputText {
     padding: 5px;
     height: 60px;
     border-width: 10px;
   }
   .inputText input{
     padding: 5px;
   }
   .inputText button {
     font-size: 12px;
     padding: 5px;
   }
   #messages {
     margin-bottom: 65px;
     margin-top: 45px;
   }

   #header {
     height: 40px;
     border-width: 10px;
   }

   #header li{
     font: 14px monospace;
   }
   #users {

     border-width: 10px;
   }
   #users li {
     color: black;
     padding: 2px 4px;
     border-right-width: 2px;
     border-left-width: 2px;
   }

}
